<!-- wp:template-part {"slug":"masthead","theme":"assets"} /-->

<!-- wp:group {"style":{"position":{"type":"sticky","top":"0px"}},"backgroundColor":"base","layout":{"type":"constrained"}} -->
<div class="wp-block-group has-base-background-color has-background">
    <!-- wp:template-part {"slug":"site-header","theme":"assets","area":"header"} /-->
</div>
<!-- /wp:group -->

<!-- wp:group {"className":"content","layout":{"type":"constrained"}} -->
<div class="wp-block-group content">
    <!-- wp:group {"className":"content__main","layout":{"type":"constrained"}} -->
    <div class="wp-block-group content__main">
        <!-- wp:heading {"level":1} -->
        <h1 class="wp-block-heading">Could not find what you were looking for</h1>
        <!-- /wp:heading -->
        <!-- wp:paragraph -->
        <p>Sorry, this page does not exist.</p>
        <!-- /wp:paragraph -->
    </div>
    <!-- /wp:group -->
     
    <!-- wp:template-part {"slug":"sidebar","theme":"assets","tagName":"aside"} /-->
</div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"site-footer","theme":"assets","tagName":"footer"} /-->