<!-- wp:pattern { "slug": "relief-share/header" } /-->

<!-- wp:group {"layout":{"type":"constrained"},"className":"content"} -->
<div class = "wp-block-group content">
    <!-- wp:group {"layout":{"type":"constrained"},"className":"content__main"} -->
    <div class = "wp-block-group content__main">
        <!-- wp:pattern {"slug": "query"} /-->
    </div>
    <!-- /wp:group -->
    <!-- wp:pattern {"slug":"relief-share/sidebar"} /-->
</div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"site-footer","tagName":"footer"} /-->