<!-- wp:template-part { "slug": "site-header", "tagName": "header" } /-->

<div class = "content">
    <div class = "content__main">
        <!-- wp:post-featured-image { "style": { "spacing": { "margin": { "bottom": "var:preset|spacing|60" } } } } /-->
		<!-- wp:post-title { "level": 1 } /-->
		<!-- wp:post-content { "align": "full", "layout": { "type": "constrained" } } /-->
	</div>
    <!-- wp:pattern { "slug": "relief-share/sidebar"  } /-->
</div>

<!-- wp:template-part { "slug": "site-footer", "tagName": "footer" } /-->