<!-- wp:group {"style":{"spacing":{"blockGap":"0"}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group">
    <!-- wp:template-part {"slug":"masthead","theme":"assets"} /-->

    <!-- wp:group {"style":{"position":{"type":"sticky","top":"0px"},"shadow":"var:preset|shadow|natural"},"backgroundColor":"base","layout":{"type":"constrained"}} -->
    <div class="wp-block-group has-base-background-color has-background" style="box-shadow:var(--wp--preset--shadow--natural)">
        <!-- wp:template-part {"slug":"site-header","theme":"assets","area":"header"} /-->
    </div>
    <!-- /wp:group -->

    <!-- wp:group {"className":"content","style":{"spacing":{"blockGap":"0"}},"layout":{"type":"constrained"}} -->
    <div class="wp-block-group content">
        <!-- wp:group {"className":"content__main","layout":{"type":"constrained"}} -->
        <div class="wp-block-group content__main">
            <!-- wp:post-featured-image {"style":{"spacing":{"margin":{"bottom":"var:preset|spacing|60"}}}} /-->

            <!-- wp:post-title {"level":1} /-->

            <!-- wp:post-content {"align":"full","layout":{"type":"constrained"}} /-->
        </div>
        <!-- /wp:group -->
        
        <!-- wp:template-part {"slug":"sidebar","theme":"assets","tagName":"aside"} /-->
    </div>
    <!-- /wp:group -->

    <!-- wp:template-part {"slug":"site-footer","theme":"assets","tagName":"footer"} /-->
</div>
<!-- /wp:group -->